# Backend
backend/.env
backend/nginx/ssl/*.pem
backend/nginx/ssl/*.key
backend/nginx/ssl/*.crt
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Flutter
mobile/.dart_tool/
mobile/.packages
mobile/.pub-cache/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/pubspec.lock
mobile/.env

# General
.DS_Store
*.log
